.info-container {
  width: 650px;
  margin-right: 100px;
}

.info-container .info-text {
  text-align: left;
}

.info-container .info-text h3 {
  margin-bottom: 40px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.8;
}

.info-container .info-text h3 span {
  font-weight: 800;
}

/* Responsive */
@media (max-width: 1024px) {
  .info-container {
    width: 100%;
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .info-container {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .info-container .info-text h3 {
    font-size: 1rem;
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .info-container .info-text h3 {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
}
