.not-found-container {
  background-color: #0f172a;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
}
