/* PAGE LAYOUT */
.register-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* FORM CARD */
.card {
  background: #ffffff;
  width: 380px;
  padding: 30px 28px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TITLE */
.title {
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
  text-align: center;
  margin-bottom: 25px;
}

/* LABEL */
.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 18px;
  font-size: 14px;
  color: #475569;
}

/* INPUT FIELDS */
.label input {
  padding: 10px 12px;
  border: 1px solid #cbd5e1;
  color: black;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease;
  font-size: 14px;
}

.label input:focus {
  border-color: #6366f1; /* indigo */
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.15);
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 12px 0;
  margin-top: 10px;
  background: #4f46e5;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s ease;
}

.btn:hover {
  background: #4338ca;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(79, 70, 229, 0.25);
}

/* FOOTER */
.footer {
  margin-top: 18px;
  font-size: 14px;
  color: #475569;
  text-align: center;
}

.footer a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}

.error p {
  color: red;
  font-style: italic;
}
